<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ICA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">

    <link rel="stylesheet" href="/stylesheets/aos.css">

    <link rel="stylesheet" href="/stylesheets/ionicons.min.css">

    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">I-Clean Amravati</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/gallery" class="nav-link">Gallery</a></li>
          <li class="nav-item"><a href="/event" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- END nav -->
    
    
    <div class="hero-wrap" style="background-image: url('images/a5.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>Event</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Events</h1>
          </div>
        </div>
      </div>
    </div>

    
    <section class="ftco-section">
      <div class="container">
        <div class="row">
        	<div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('images/ica1.jpg');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a>Mar. 01, 2020</a></div>
                  <div><a>Admin</a></div>
                  <div><i class="las la-comment-alt"></i> 3</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">Making Organic Colours</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="las la-clock"></i> 08:30AM-01:30PM</span> <span><i class="las la-map"></i> Venue Main Campus</span></p>
                <p>This is a event regarding awareness among the folks regarding harmfull colours and making organic colour.</p>
                <p><a href="/contact">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('images/ica2.jpg');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a>Mar. 19, 2020</a></div>
                  <div><a>Admin</a></div>
                  <div><i class="las la-comment-alt"></i> 6</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">Varley Painting</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="las la-clock"></i> 08:30AM-01:30PM</span> <span><i class="las la-map"></i> Venue Main Campus</span></p>
                <p>In this event we have managed to clean the walls of our city and paint it in varley style to beautify our city.</p>
                <p><a href="/contact">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('images/ica3.jpg');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a>Aug. 08, 2019</a></div>
                  <div><a>Admin</a></div>
                  <div><i class="las la-comment-alt"></i> 9</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">Cleanliness Drive</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="las la-clock"></i> 08:30AM-01:30PM</span> <span><i class="las la-map"></i> Venue Main Campus</span></p>
                <p>This is the event regarding cleanliness drive among the folks of Amravati.</p>
                <p><a href="/contact">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('images/ica4.jpg');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a>Nov. 17, 2019</a></div>
                  <div><a>Admin</a></div>
                  <div><a class="meta-chat"><i class="las la-comment-alt"></i> 7</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">Cleaning walls and Painting</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                <p>In this event we have managed to clean the walls of our city and paint it in varley style to beautify our city.</p>
                <p><a href="/contact">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('images/ica5.jpg');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a>Sep. 29, 2019</a></div>
                  <div><a>Admin</a></div>
                  <div><a class="meta-chat"><i class="las la-comment-alt"></i> 6</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">Cleanliness Drive</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                <p>This is the event regarding cleanliness drive among the folks of Amravati to make Amravati model city.</p>
                <p><a href="/contact">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('images/ica6.jpg');">
              </a>
              <div class="text p-4 d-block">
              	<div class="meta mb-3">
                  <div><a>Sep. 22, 2019</a></div>
                  <div><a>Admin</a></div>
                  <div><a class="meta-chat"><i class="las la-comment-alt"></i> 10</a></div>
                </div>
                <h3 class="heading mb-4"><a href="#">Cleaning pond</a></h3>
                <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                <p>In this event we have managed to clean the chatri talao pond and we also planted the trees surrounding it.</p>
                <p><a href="/contact">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
		

     <footer class="ftco-footer ftco-section img">
      <div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="https://twitter.com/AmravatiI"><img src="https://img.icons8.com/nolan/50/twitter.png"/></a></li>
                <li class="ftco-animate"><a href="https://www.facebook.com/icleanamravati/"><img src="https://img.icons8.com/nolan/50/facebook-new.png"/></a></li>
                <li class="ftco-animate"><a href="https://www.instagram.com/icleanamravati/"><img src="https://img.icons8.com/nolan/50/instagram-new.png"/></a></li>
              </ul>
            </div>
          </div>
         
              
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Site Links</h2>
              <ul class="list-unstyled">
                <li><a href="/" class="py-2 d-block">Home</a></li>
                <li><a href="/about" class="py-2 d-block">About</a></li>
                <li><a href="/gallery" class="py-2 d-block">Gallery</a></li>
                <li><a href="/event" class="py-2 d-block">Events</a></li>
                <li><a href="/contact" class="py-2 d-block">Contacts</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><img src="https://img.icons8.com/nolan/30/user-location.png"/><span class="text">302 sai akshay aditya apt. sai nagar, Amravati</span></li>
                  <li><a href="#"><img src="https://img.icons8.com/nolan/30/phone.png"/><span class="text">+91 7972723104</span></a></li>
                  <li><a href="#"><img src="https://img.icons8.com/nolan/30/new-message.png"/><span class="text">icleanamravati@gmail.com</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
         
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>