<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ICA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">

    <link rel="stylesheet" href="/stylesheets/aos.css">

    <link rel="stylesheet" href="/stylesheets/ionicons.min.css">

    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">I-Clean Amravati</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      
      
      <div class="container">
        <div class="container">
          <% if(error && error.length > 0){ %> 
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div> 
          <% } %>
          <% if(success && success.length > 0){ %> 
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>  
          <% } %> 
        </div>
      </div>
      
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/gallery" class="nav-link">Gallery</a></li>
          <li class="nav-item"><a href="/event" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- END nav -->
    
    <div class="hero-wrap" style="background-image: url('images/a5.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> <span>Gallery</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Galleries</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-gallery">
    	<div class="container">
	    	<div class="d-md-flex">
		    	<a href="images/ica7.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica7.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
		    	<a href="images/ica8.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica8.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
		    	<a href="images/ica9.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica9.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
		    	<a href="images/ica10.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica10.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
	    	</div>
	    	<div class="d-md-flex">
		    	<a href="images/ica11.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica11.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
		    	<a href="images/ica12.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica12.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
		    	<a href="images/ica13.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica13.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
		    	<a href="images/ica14.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica14.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
		    </div>
		    <div class="d-md-flex">
		    	<a href="images/ica15.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica15.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
		    	<a href="images/ica16.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica16.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
		    	<a href="images/ica6.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica6.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
		    	<a href="images/ica5.jpg" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate m-2" style="background-image: url(images/ica5.jpg);">
		    		<div class="icon d-flex justify-content-center align-items-center">
		    			<i class="las la-search"></i>
		    		</div>
		    	</a>
		    </div>
	    </div>
    </section>
  
    <section class="ftco-section-3 img" style="background-image: url(images/bg_3.jpg);" id="volunteer_sec">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-md-flex">
    		<div class="col-md-6 d-flex ftco-animate">
    			<div class="img img-2 align-self-stretch" style="background-image: url(images/ica17.jpg);"></div>
    		</div>
    		<div class="col-md-6 volunteer pl-md-5 ftco-animate">
    			<h3 class="mb-3">Be a volunteer</h3>
    			<form id="contact-form" action="/contact1" class="contact-form" method="post">
            <div class="form-group">
              <input type="text" class="form-control" name="name" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Your Email">
            </div>
            <div class="form-group">
              <textarea cols="30" rows="3" class="form-control" name="message" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
                <a class="btn btn-white py-3 px-5" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
          </form>
    		</div>    			
    		</div>
    	</div>
    </section>

   <footer class="ftco-footer ftco-section img">
      <div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="https://twitter.com/AmravatiI"><img src="https://img.icons8.com/nolan/50/twitter.png"/></a></li>
                <li class="ftco-animate"><a href="https://www.facebook.com/icleanamravati/"><img src="https://img.icons8.com/nolan/50/facebook-new.png"/></a></li>
                <li class="ftco-animate"><a href="https://www.instagram.com/icleanamravati/"><img src="https://img.icons8.com/nolan/50/instagram-new.png"/></a></li>
              </ul>
            </div>
          </div>
         
              
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Site Links</h2>
              <ul class="list-unstyled">
                <li><a href="/" class="py-2 d-block">Home</a></li>
                <li><a href="/about" class="py-2 d-block">About</a></li>
                <li><a href="/gallery" class="py-2 d-block">Gallery</a></li>
                <li><a href="/event" class="py-2 d-block">Events</a></li>
                <li><a href="/contact" class="py-2 d-block">Contacts</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><img src="https://img.icons8.com/nolan/30/user-location.png"/><span class="text">302 sai akshay aditya apt. sai nagar, Amravati</span></li>
                  <li><a href="#"><img src="https://img.icons8.com/nolan/30/phone.png"/><span class="text">+91 7972723104</span></a></li>
                  <li><a href="#"><img src="https://img.icons8.com/nolan/30/new-message.png"/><span class="text">icleanamravati@gmail.com</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
         
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>